* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1366px;
}

.button {
    display: inline-block;
    border: none;
    background: linear-gradient(225deg, #a18cd1, #fbc2eb);
    box-shadow: 0 3px 14px 2px #fbc2eb7a;
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    margin: 20px 10px;
    color: white;
    text-decoration: none;
    transition: 0.5s all ease;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 7px 14px 2px #fbc2eb9d;
    background: linear-gradient(225deg, #a18cd1, #fbc2eb);
    background-size: 150% 150%;
    color: #fff;
    animation: hero-bg 2s ease infinite;
}

label {
    margin-top: 10px;
}

input {
    display: block;
    border: 1px solid #fbc2eb;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    outline: none;
    height: 50px;
    padding: 0 20px;
}

input:focus {
    border: 2px solid #9a81d4;
}


.gradient-text {
    background: linear-gradient(225deg, #9a81d4, #fcb4e8);
    background-clip: text;
    background-size: 150% 150%;
    animation: hero-bg 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
