.dashboard {
    height: 100vh;
    width: 100%;
}

.dashboard nav {
    padding: 40px;
    height: 10vh;
    display: flex;
    align-items: center;
}

.rooms-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    margin: 0 40px;
    align-items: center;
}

.room-display {
    padding: 30px;
    margin: 30px;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room-display.create {
    border: 2px solid #e4e4e4;
    color: #e4e4e4;
    transition: 0.3s all ease;
}
.room-display.create:hover {
    cursor: pointer;
    border: 2px solid #afafaf; /* I know it's lit af */
    color: #888888;
}

.room-display h1 {
    font-size: 1.4rem;
    font-weight: normal;
}

.room-display .bottom {
    display: flex;
    justify-content: space-between;
}